/* управляет тем как будет выглядеть общая верстка (расположение элементов) */

.buffer-top {
  margin-top: 20px;
}

.buffer-top-large {
  margin-top: 40px;
}

.buffer-both {
  margin-bottom: 20px;
}

.buffer-both-large {
  margin-bottom: 40px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buffer-both-large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.column-1-4 {
  float: left;
  width: 25%;
}

.column-1-3 {
  float: left;
  width: 33.33%;
}

.column-1-2 {
  float: left;
  width: 50%;
}

.container:after {
  display: block;
  content: " ";
  visibility: hidden;
  height: 0;
  clear: both;
}

@media (max-width: 960px) {
  .column-1-4 {
    float: left;
    width: 50%;
  }
}

@media (max-width: 640px) {
  .column-1-3 {
    float: none;
    width: auto;
  }
}

@media (max-width: 480px) {
  .column-1-4,
  .column-1-2 {
    float: none;
    width: auto;
  }
}
